html,body{
margin: 0; padding: 0;
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}

#li_color1{
	background-color: #FF0000;
	color: #ffffff;
}

#li_color2{
	background-color: #ffa500;
	color: #ffffff;
}

#li_color3{
	background-color: #ffff00;
}

#li_color4{
	background-color: #00ffff;
}

#li_color5{
	background-color: #0000ff;
	color: #ffffff;
}

.link{
	border: solid #ffffff;
	border-width: 2px 0 0 0;
	padding: 5px;
	display: block;
}

.link:last-child{
	/*最後のリンクに下線を付ける*/
	border-bottom-width: 2px;
}