html,body,#map{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

html{
	background: #000000;
}

.marker1 {
	width: 15px !important;
	height: 15px !important;
	margin: -10px !important;
	border-radius: 100%;
	border: 3px solid #fdfdfd;
	box-shadow: 0 1px 4px rgba(0,0,0,0.8);
	background-color: #FF0000;
	z-index: 20 !important;
}

.marker2 {
	width: 15px !important;
	height: 15px !important;
	margin: -10px !important;
	border-radius: 100%;
	border: 3px solid #fdfdfd;
	box-shadow: 0 1px 4px rgba(0,0,0,0.8);
	background-color: #ffa500;
	z-index: 20 !important;
}

.marker3 {
	width: 15px !important;
	height: 15px !important;
	margin: -10px !important;
	border-radius: 100%;
	border: 3px solid #fdfdfd;
	box-shadow: 0 1px 4px rgba(0,0,0,0.8);
	background-color: #ffff00;
	z-index: 20 !important;
}

.marker4 {
	width: 15px !important;
	height: 15px !important;
	margin: -10px !important;
	border-radius: 100%;
	border: 3px solid #fdfdfd;
	box-shadow: 0 1px 4px rgba(0,0,0,0.8);
	background-color: #00ffff;
	z-index: 20 !important;
}

.marker5 {
	width: 15px !important;
	height: 15px !important;
	margin: -10px !important;
	border-radius: 100%;
	border: 3px solid #fdfdfd;
	box-shadow: 0 1px 4px rgba(0,0,0,0.8);
	background-color: #0000ff;
	z-index: 20 !important;
}

.info_legend {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	margin-bottom: 20px;
	border: solid 2px #000000;
}